.pageTwo-top {
    display: flex;
    justify-content: space-between;
    
    height: 60px;
    width: 1435px;
    background-color: #fff;
    line-height: 60px;

    transition: all 0.1s ease;
}

.pageTwo-top__right {
    display: flex;
    justify-content: flex-end;
    width: 400px;
}
.pageTwo-top__right div {
    display: flex;
    height: 30px;
    padding-left: 20px;
    align-items: center;
}
.pageTwo-top__right i {
    padding-left: 10px;

    font-size: 28px;
    
}
.position-c{
    position: fixed;
    top: 0;

}
.position-d{
    position: fixed;
    top:60px;
}

/* Test */
.pageTwo-left {
    height: 172vh;
}