.footer {
    position: relative;
    padding: 40px 50px 20px;
    margin-bottom: 20px;

    background-color: black;

    color: #fff;
    z-index: 2;
}
.footer-top{
    display: flex;
    justify-content: space-between;

    padding-bottom: 40px;
    
    font-size: 12px;
}
.footer-top__left{
    display: flex;
    justify-content: space-between;
}
.footer-top__left b:hover,
.footer-bottom__left i:hover{
    cursor: pointer;
}
.footer-top__left div {
    padding-right: 100px;
}
.footer-top__left p {
    padding-top: 10px;
    font-weight: 200;
    color: #969292;
}
.footer-top__left p:hover {
    color: #fff;
    cursor: pointer;   
}
.footer-top__contentone b{
    padding-bottom: 30px;
}
.footer-top__contenttwo{

}
.footer-top__contentthree{

}
.footer-top__right{
    display: flex;
    
}
.footer-top__right div {
    height: 35px;
    width: 35px;

    border-radius: 50%;
    background-color: #7f7676;

    color: black;
    font-size: 22px;
    text-align: center;
    line-height: 35px;

    margin-left: 15px;
}
.footer-top__right div:hover {
    background-color: #fff;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.footer-bottom div{
    color: #969292;
    font-size: 11px;
}
.footer-bottom__left{
    display: flex;
}
.footer-bottom__left i{
    color: #fff;
    padding-right: 20px;
}
.footer-bottom__right{
    display: flex;
    position: relative;
}
.footer-bottom__right div {
    padding-left: 30px;
}
.footer-bottom__right div:hover {
    color: #fff;
    cursor: pointer;
}
.guides {
    position: absolute;
    bottom: 20px;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 600px;
    border: #fff 2px solid;
    padding-right: 60px;
    display: none;
}
.guidesAll:hover .guides  {
    display: flex;
}
.guidesAll::before{
   content: "";
   height: 10px;
   width: 60px;
   position: absolute;
   top: -5px;
   left: 18px;
}
.guides__item div {
    padding: 3px 0;
}
.sendUsFeedBack {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;
    
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);
    z-index: 1001;
    display: none;


}
.sendUsFeedBack-box {
    display: inline-block;
    height: 50vh;
    width: 40vw;
    background-color: #fff;
    border-radius: 20px ;
    padding: 70px 60px;

}
.sendUsFeedBack-box__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}
.sendUsFeedBack-box__top b {
    font-size: 25px;
}
.sendUsFeedBack-box__top div {
    height: 40px;
    width: 40px;

    font-size: 26px;
    line-height: 40px;
    text-align: center;

    background-color: rgb(228, 228, 228);

    border-radius: 50%;
}
.sendUsFeedBack-box__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    width: 100%;

    padding: 0 8px;
    border: rgb(228, 228, 228) 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sendUsFeedBack-box__bottom {
    position: relative;
    left: 394px; 
    
    height: 40px;
    width: 100px;

    background-color:rgb(228, 228, 228);
    border-radius: 20px;

    text-align: center;
    line-height: 40px;

    margin-top: 30px;
}